body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, button {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}
